/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'ANICALC' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/clustering" },
            mode: params.publish_dir_mode,
            pattern: "*_pairani.tsv",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ANICLUST' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/clustering" },
            mode: params.publish_dir_mode,
            pattern: "*_clusters.tsv",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BLAST_MAKEBLASTDB' {
        ext.args   = { '-dbtype nucl' }
    }

    withName: 'BLAST_BLASTN' {
        ext.args   = { "-outfmt '6 std qlen slen' -max_target_seqs 10000 -perc_identity 90" }
    }

    withName: 'EXTRACT_REPS_STATS' {
        publishDir = [
            [
               path: { "${params.outdir}/${meta.id}/cluster_reps" },
               mode: params.publish_dir_mode,
               pattern: "*_reps_stats.tsv",
               saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
            [
               path: { "${params.outdir}/${meta.id}/cluster_reps/taxonomy_plot" },
               mode: params.publish_dir_mode,
               pattern: "*_krona.tsv",
               saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
        ]
    }

    withName: 'KRONA_KTIMPORTTEXT' {
        ext.prefix = { "${meta.id}_krona" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/taxonomy_plot" },
            mode: params.publish_dir_mode,
            pattern: "*.html",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MASH_SCREEN' {
        ext.prefix = { "${meta2.id}" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/" },
            pattern: "*.screen",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SANKEY_PLOT' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/taxonomy_plot" },
            mode: params.publish_dir_mode,
            pattern: "*sankey.html",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SANKEY_VITAP' {
        ext.prefix = { "${meta.id}_vitap" }
        ext.args   = { " --taxonomy-column lineage --lineage-reverted " }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/taxonomy_vitap" },
            mode: params.publish_dir_mode,
            pattern: "*sankey.html",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SEQTK_SUBSEQ' {
        ext.prefix = { "" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/" },
            mode: params.publish_dir_mode,
            pattern: "*.gz",
            saveAs: { filename -> filename.equals('versions.yml') ? null : "${meta.id}_reps.fasta.gz" }
        ]
    }

    withName: 'VITAP' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/taxonomy_vitap" },
            mode: params.publish_dir_mode,
            pattern: "*_vitap_best.tsv",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
