/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: 'AMRINTEGRATOR' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/amr" },
            mode: params.publish_dir_mode,
            pattern: "integrated_viral_sequences.gff",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ANICALC' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/clustering" },
            mode: params.publish_dir_mode,
            pattern: "*_pairani.tsv",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ANICLUST' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/clustering" },
            mode: params.publish_dir_mode,
            pattern: "*_clusters.tsv",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args   = {
            meta.id == 'plasmids'
            ? " --min_ani 80 --min_tcov 85 --min_qcov 0"
            : meta.id == 'viral_sequences'
                ? " --min_ani 95 --min_tcov 85 --min_qcov 0 "
                : " --min_ani 90 --min_tcov 85 --min_qcov 0 "
        }
    }

    withName: 'BLAST_MAKEBLASTDB' {
        ext.args   = { '-dbtype nucl' }
    }

    withName: 'BLAST_BLASTN' {
        ext.args   = { "-outfmt '6 std qlen slen' -max_target_seqs 10000 -perc_identity 90" }
    }

    withName: 'CHOOSE_SEQUENCES' {
        publishDir = [
            path: { "${params.outdir}/combined_input" },
            mode: params.publish_dir_mode,
            pattern: "combined_meta.tsv",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.split('/').last() }
        ]
    }

    withName: 'CRISPRCAS_FINDER' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/crisprcasfinder" },
            mode: params.publish_dir_mode,
            pattern: "crisprcasfinder_results/*crisprcasfinder*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.split('/').last() }
        ]
    }

    withName: DEEPARG_PREDICT {
        ext.args = '--type prot'
    }

    withName: 'EXTRACT_REPS_STATS' {
        publishDir = [
            [
               path: { "${params.outdir}/${meta.id}/cluster_reps" },
               mode: params.publish_dir_mode,
               pattern: "*_reps_stats.tsv",
               saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
            [
               path: { "${params.outdir}/${meta.id}/cluster_reps/taxonomy_plot" },
               mode: params.publish_dir_mode,
               pattern: "*_krona.tsv",
               saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
            [
               path: { "${params.outdir}/${meta.id}/cluster_reps" },
               mode: params.publish_dir_mode,
               pattern: "*_reps.tsv",
               saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
            [
               path: { "${params.outdir}/${meta.id}/cluster_reps" },
               mode: params.publish_dir_mode,
               pattern: "*_reps.gff",
               saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
        ]
    }

    withName: 'HAMRONIZATION_RGI' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/amr/rgi" },
            mode: params.publish_dir_mode,
            pattern: "*.t??",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'IQTREE' {
        ext.args = '-m MFP -bb 1000'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/taxonomy_plot" },
            mode: params.publish_dir_mode,
            pattern: "*.treefile",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'KRONA_KTIMPORTTEXT' {
        ext.prefix = { "${meta.id}_krona" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/taxonomy_plot" },
            mode: params.publish_dir_mode,
            pattern: "*.html",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MAFFT_ALIGN' {
        ext.args = '--auto'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: RGI_MAIN {
        ext.args2 = '--input_type protein'
    }

    withName: 'SANKEY_PLOT' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/taxonomy_plot" },
            mode: params.publish_dir_mode,
            pattern: "*sankey.html",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SANKEY_VITAP' {
        ext.prefix = { "${meta.id}_vitap" }
        ext.args   = { " --taxonomy-column lineage --lineage-reverted " }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/taxonomy_vitap" },
            mode: params.publish_dir_mode,
            pattern: "*sankey.html",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SEQTK_SUBSEQ' {
        ext.prefix = { "_reps" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/" },
            mode: params.publish_dir_mode,
            pattern: "*.gz",
            saveAs: { filename -> filename.equals('versions.yml') ? null : "${meta.id}_reps.fasta.gz" }
        ]
    }

    withName: 'VCLUST_PREFILTER' {
        ext.args   = {
            meta.id == 'plasmids'
            ? " --min-kmers 20 --min-ident 0.5 "
            : meta.id == 'viral_sequences'
               ? " --min-ident 0.95 "
               : " --min-ident 0.70 "
        }
    }

    withName: 'VCLUST_ALIGN' {
        ext.args   = {
            meta.id == 'plasmids'
            ? " --out-ani 0.70 --out-qcov 0.50 "
            : meta.id == 'viral_sequences'
                ? " --out-ani 0.95 --out-qcov 0.85 "
                : ""
        }
    }

    withName: 'VCLUST_CLUSTER' {
        ext.args   = {
            meta.id == 'plasmids'
            ? " --algorithm leiden --leiden-resolution 0.9 --out-repr"
            : meta.id == 'viral_sequences'
                ? " --algorithm cd-hit --qcov 0.85 --out-repr "
                : " --algorithm leiden --out-repr"
        }
    }

    withName: 'VITAP' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/taxonomy_vitap" },
            mode: params.publish_dir_mode,
            pattern: "*_vitap_best.tsv",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'WGET_DEEPARG' {
        ext.prefix = 'deeparg'
        ext.suffix = 'zip'
    }

}
